#menuToggle {
    display: block;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 21;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 22;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    border-radius: 3px;
    z-index: 21;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--red);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
}


#menu {
    position: absolute;
    width: 100vw;
    margin: -85px 0 0 -20px;
    padding: 40px 25px;
    padding-left: 100px;
    left: 0;            
    background: var(--white-90-opacity);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    color: var(--red);
    padding: 10px 20px;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}

#menu li:hover {
    border-bottom: 1px solid var(--red);
}
