@import url("./toast.css");
@import url("./menu.css");
@import url("./phase.css");
@import url("./tabs.css");
@import url("./modal.css");
@import url("./fabicon.css");

#WarningScreenWidth {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 500px;
}



/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #menu {
        padding: 40px 25px 20px 100px;
        background: var(--red);
        color: var(--black-40-opacity);
    }
    #menu li {
        color: var(--black-60-opacity);
    }
    #menu li:hover {
        border-bottom: 1px solid var(--black-60-opacity);
    }    
    #menuToggle span {
        background: var(--black);
    }
    #menuToggle input:checked ~ span {
        background: var(--black-60-opacity);
    }
  }