:root {
    --legenda-bg: #ecef90;
    --legenda: #bdbf73;

    --phase-trigger: rgba(271, 224, 33, 1); /* #d9e021 */
    --phase-trigger-80-opacity: rgba(271, 224, 33, 0.8);

    --phase-ideation: rgba(140, 198, 63, 1); /* #8cc63f */
    --phase-ideation-80-opacity: rgba(140, 198, 63, 0.8);

    --phase-design: rgba(0, 169, 157, 1); /* #00a99d */
    --phase-design-80-opacity: rgba(0, 169, 157, 0.8);

    --phase-realisation: rgba(193, 39, 45, 1); /* #c1272d */
    --phase-realisation-80-opacity: rgba(193, 39, 45, 0.8);

    --phase-evaluation: rgba(241, 90, 36, 1); /* #f15a24 */
    --phase-evaluation-80-opacity: rgba(241, 90, 36, 0.8);
}

.stage.i { right: calc(86% - 185px); }
.stage.c { right: calc(62% - 170px); }
.stage.d { right: calc(38% - 155px); }
.stage.p { right: calc(14% - 140px); }


.phase {
    width: calc(24% - 15px);
}

.phase.small {
    width: calc(14% - 15px);
}

.phase.state-collapsed {
    width: 75px;
}

.phase.state-active {
    width: calc(100% - 375px);
}


.realisation footer {
    width: calc(100% - 66px);
}

.evaluation footer {
    width: calc(100% + 68px);
    left: -68px;
}

.realisation.state-collapsed footer,
.realisation.state-active footer {
        width: 100%;
}

.evaluation.state-collapsed footer, 
.evaluation.state-active footer {
        width: 100%;
    left: 0;
}


.trigger { background-color: var(--phase-trigger); }
.ideation { background-color: var(--phase-ideation); }
.design { background-color: var(--phase-design); }
.realisation { background-color: var(--phase-realisation); }
.evaluation { background-color: var(--phase-evaluation); }


.trigger .phase-action { color: var(--phase-trigger); }
.ideation .phase-action { color: var(--phase-ideation); }
.design .phase-action { color: var(--phase-design); }
.realisation .phase-action { color: var(--phase-realisation); }
.evaluation .phase-action { color: var(--phase-evaluation); }


.trigger.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-trigger),
        var(--phase-trigger) 10px,
        var(--phase-trigger-80-opacity) 10px,
        var(--phase-trigger-80-opacity) 20px
    );
}
.ideation.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-ideation),
        var(--phase-ideation) 10px,
        var(--phase-ideation-80-opacity) 10px,
        var(--phase-ideation-80-opacity) 20px
    );
}
.design.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-design),
        var(--phase-design) 10px,
        var(--phase-design-80-opacity) 10px,
        var(--phase-design-80-opacity) 20px
    );
}
.realisation.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-realisation),
        var(--phase-realisation) 10px,
        var(--phase-realisation-80-opacity) 10px,
        var(--phase-realisation-80-opacity) 20px
    );
}
.evaluation.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-evaluation),
        var(--phase-evaluation) 10px,
        var(--phase-evaluation-80-opacity) 10px,
        var(--phase-evaluation-80-opacity) 20px
    );
}


#ctdp.mobile .legenda {
    display: flex;
}

#ctdp.mobile .phase.state-active {
    width: calc(100vw - 40px);
    margin-left: 40px;
}