:root {
    --legenda-bg: #9f1f63;

    --phase-dt-empathize: rgba(243, 106, 38, 1); /* #f36a26 */
    --phase-dt-empathize-80-opacity: rgba(243, 206, 38, 0.8);

    --phase-dt-define: rgba(18, 126, 190, 1); /* #127ebe */
    --phase-dt-define-80-opacity: rgba(18, 126, 190, 0.8);

    --phase-dt-ideate: rgba(201, 31, 78, 1); /* #c91f4e */
    --phase-dt-ideate-80-opacity: rgba(201, 31, 78, 0.8);

    --phase-dt-prototype: rgba(253, 183, 27, 1); /* #fdb71b */
    --phase-dt-prototype-80-opacity: rgba(253, 183, 27, 0.8);

    --phase-dt-test: rgba(171, 221, 212, 1); /* #abddd4 */
    --phase-dt-test-80-opacity: rgba(171, 221, 212, 0.8);
}

#dt .stage i {
    font-size: 34px;
    line-height: 60px;
}

#dt .stage.e { right: calc(85% - 110px); }
#dt .stage.d { right: calc(65% - 90px); }
#dt .stage.i { right: calc(45% - 80px); }
#dt .stage.p { right: calc(25% - 60px); }
#dt .stage.t { right: calc(5% - 50px); }


#dt .phase {
    width: calc(20% - 15px);
}

#dt .phase.state-collapsed {
    width: 75px;
}

#dt .phase.state-active {
    width: calc(100% - 375px);
}


#dt .empathize { background-color: var(--phase-dt-empathize); }
#dt .define { background-color: var(--phase-dt-define); }
#dt .ideate { background-color: var(--phase-dt-ideate); }
#dt .prototype { background-color: var(--phase-dt-prototype); }
#dt .test { background-color: var(--phase-dt-test); }

#dt .empathize .phase-action { color: var(--phase-dt-empathize); }
#dt .define .phase-action { color: var(--phase-dt-define); }
#dt .ideate .phase-action { color: var(--phase-dt-ideate); }
#dt .prototype .phase-action { color: var(--phase-dt-prototype); }
#dt .test .phase-action { color: var(--phase-dt-test); }


#dt .empathize.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-empathize),
        var(--phase-dt-empathize) 10px,
        var(--phase-dt-empathize-80-opacity) 10px,
        var(--phase-dt-empathize-80-opacity) 20px
    );
}
#dt .define.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-define),
        var(--phase-dt-define) 10px,
        var(--phase-dt-define-80-opacity) 10px,
        var(--phase-dt-define-80-opacity) 20px
    );
}
#dt .ideate.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-ideate),
        var(--phase-dt-ideate) 10px,
        var(--phase-dt-ideate-80-opacity) 10px,
        var(--phase-dt-ideate-80-opacity) 20px
    );
}
#dt .prototype.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-prototype),
        var(--phase-dt-prototype) 10px,
        var(--phase-dt-prototype-80-opacity) 10px,
        var(--phase-dt-prototype-80-opacity) 20px
    );
}
#dt .test.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-test),
        var(--phase-dt-test) 10px,
        var(--phase-dt-test-80-opacity) 10px,
        var(--phase-dt-test-80-opacity) 20px
    );
}