:root {
    --legenda-bg: #9f1f63;

    --phase-dt-empathize: rgba(243, 106, 38, 1); /* #f36a26 */
    --phase-dt-empathize-80-opacity: rgba(243, 206, 38, 0.8);

    --phase-dt-define: rgba(18, 126, 190, 1); /* #127ebe */
    --phase-dt-define-80-opacity: rgba(18, 126, 190, 0.8);

    --phase-dt-ideate: rgba(201, 31, 78, 1); /* #c91f4e */
    --phase-dt-ideate-80-opacity: rgba(201, 31, 78, 0.8);

    --phase-dt-prototype: rgba(253, 183, 27, 1); /* #fdb71b */
    --phase-dt-prototype-80-opacity: rgba(253, 183, 27, 0.8);

    --phase-dt-test: rgba(171, 221, 212, 1); /* #abddd4 */
    --phase-dt-test-80-opacity: rgba(171, 221, 212, 0.8);
}

.stage i {
    font-size: 34px;
    line-height: 60px;
}

.stage.e { right: calc(85% - 110px); }
.stage.d { right: calc(65% - 90px); }
.stage.i { right: calc(45% - 80px); }
.stage.p { right: calc(25% - 60px); }
.stage.t { right: calc(5% - 50px); }


.phase {
    width: calc(20% - 15px);
}

.phase.state-collapsed {
    width: 75px;
}

.phase.state-active {
    width: calc(100% - 375px);
}


.empathize { background-color: var(--phase-dt-empathize); }
.define { background-color: var(--phase-dt-define); }
.ideate { background-color: var(--phase-dt-ideate); }
.prototype { background-color: var(--phase-dt-prototype); }
.test { background-color: var(--phase-dt-test); }

.empathize .phase-action { color: var(--phase-dt-empathize); }
.define .phase-action { color: var(--phase-dt-define); }
.ideate .phase-action { color: var(--phase-dt-ideate); }
.prototype .phase-action { color: var(--phase-dt-prototype); }
.test .phase-action { color: var(--phase-dt-test); }


.empathize.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-empathize),
        var(--phase-dt-empathize) 10px,
        var(--phase-dt-empathize-80-opacity) 10px,
        var(--phase-dt-empathize-80-opacity) 20px
    );
}
.define.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-define),
        var(--phase-dt-define) 10px,
        var(--phase-dt-define-80-opacity) 10px,
        var(--phase-dt-define-80-opacity) 20px
    );
}
.ideate.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-ideate),
        var(--phase-dt-ideate) 10px,
        var(--phase-dt-ideate-80-opacity) 10px,
        var(--phase-dt-ideate-80-opacity) 20px
    );
}
.prototype.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-prototype),
        var(--phase-dt-prototype) 10px,
        var(--phase-dt-prototype-80-opacity) 10px,
        var(--phase-dt-prototype-80-opacity) 20px
    );
}
.test.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-dt-test),
        var(--phase-dt-test) 10px,
        var(--phase-dt-test-80-opacity) 10px,
        var(--phase-dt-test-80-opacity) 20px
    );
}
