:root {
    --legenda-bg: #9ecb3b;

    --phase-blue: rgba(96, 145, 186, 1); /* #6091ba */
    --phase-blue-80-opacity: rgba(96, 145, 186, 0.8);

    --phase-green: rgba(158, 203, 59, 1); /* #9ecb3b */
    --phase-green-80-opacity: rgba(158, 203, 59, 0.8);
}


#edp .stage {
    font-size: 40px;
}

#edp .stage i {
    font-size: 34px;
    line-height: 60px;
}

#edp .stage.as { right: calc(87% - 100px); }
#edp .stage.re { right: calc(73% - 90px); }
#edp .stage.ia { right: calc(59% - 80px); }
#edp .stage.pl { right: calc(44% - 60px); }
#edp .stage.cr { right: calc(30% - 50px); }
#edp .stage.te { right: calc(16% - 50px); }
#edp .stage.ip { right: calc(2% - 50px); }


#edp .phase {
    width: calc(14.2% - 10px);
}

#edp .phase.state-collapsed {
    width: 75px;
}

#edp .phase.state-active {
    width: calc(100% - 525px);
}

#edp .phase footer, 
#edp .legenda footer {
    height: 52px;
}

#edp .phase-action {
    font-size: 14px;
}

#edp .realisation.state-collapsed footer,
#edp .realisation.state-active footer {
        width: 100%;
}

#edp .evaluation.state-collapsed footer, 
#edp .evaluation.state-active footer {
        width: 100%;
    left: 0;
}


#edp .ask { background-color: var(--phase-blue); }
#edp .research { background-color: var(--phase-green); }
#edp .imagine { background-color: var(--phase-blue); }
#edp .plan { background-color: var(--phase-green); }
#edp .create { background-color: var(--phase-blue); }
#edp .test { background-color: var(--phase-green); }
#edp .improve { background-color: var(--phase-blue); }

#edp .ask .phase-action { color: var(--phase-blue); }
#edp .research .phase-action { color: var(--phase-green); }
#edp .imagine .phase-action { color: var(--phase-blue); }
#edp .plan .phase-action { color: var(--phase-green); }
#edp .create .phase-action { color: var(--phase-blue); }
#edp .test .phase-action { color: var(--phase-green); }
#edp .improve .phase-action { color: var(--phase-blue); }


#edp .ask.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-blue),
        var(--phase-blue) 10px,
        var(--phase-blue-80-opacity) 10px,
        var(--phase-blue-80-opacity) 20px
    );
}
#edp .research.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-green),
        var(--phase-green) 10px,
        var(--phase-green-80-opacity) 10px,
        var(--phase-green-80-opacity) 20px
    );
}
#edp .imagine.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-blue),
        var(--phase-blue) 10px,
        var(--phase-blue-80-opacity) 10px,
        var(--phase-blue-80-opacity) 20px
    );
}
#edp .plan.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-green),
        var(--phase-green) 10px,
        var(--phase-green-80-opacity) 10px,
        var(--phase-green-80-opacity) 20px
    );
}
#edp .create.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-blue),
        var(--phase-blue) 10px,
        var(--phase-blue-80-opacity) 10px,
        var(--phase-blue-80-opacity) 20px
    );
}
#edp .test.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-green),
        var(--phase-green) 10px,
        var(--phase-green-80-opacity) 10px,
        var(--phase-green-80-opacity) 20px
    );
}
#edp .improve.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-blue),
        var(--phase-blue) 10px,
        var(--phase-blue-80-opacity) 10px,
        var(--phase-blue-80-opacity) 20px
    );
}