:root {
    --legenda-bg: #c55a11;

    --phase-hcd-inspiration: rgba(238, 97, 25, 1); /* #ee6119 */
    --phase-hcd-inspiration-80-opacity: rgba(238, 97, 25, 0.8);

    --phase-hcd-ideation: rgba(104, 202, 205, 1); /* #68cacd */
    --phase-hcd-ideation-80-opacity: rgba(104, 202, 205, 0.8);

    --phase-hcd-implementation: rgba(134, 183, 78, 1); /* #86b74e */
    --phase-hcd-implementation-80-opacity: rgba(134, 183, 78, 0.8);
}

.stage.d1 { right: calc(83% - 185px); }
.stage.c1 { right: calc(58.5% - 170px); }
.stage.d2 { right: calc(40.5% - 155px); }
.stage.c2 { right: calc(17% - 140px); }

.phase {
    width: calc(33.3% - 25px);
}

.phase.state-collapsed {
    width: 75px;
}

.phase.state-active {
    width: calc(100% - 225px);
}


.inspiration { background-color: var(--phase-hcd-inspiration); }
.ideation { background-color: var(--phase-hcd-ideation); }
.implementation { background-color: var(--phase-hcd-implementation); }

.inspiration .phase-action { color: var(--phase-hcd-inspiration); }
.ideation .phase-action { color: var(--phase-hcd-ideation); }
.implementation .phase-action { color: var(--phase-hcd-implementation); }


.inspiration.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-hcd-inspiration),
        var(--phase-hcd-inspiration) 10px,
        var(--phase-hcd-inspiration-80-opacity) 10px,
        var(--phase-hcd-inspiration-80-opacity) 20px
    );
}
.ideation.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-hcd-ideation),
        var(--phase-hcd-ideation) 10px,
        var(--phase-hcd-ideation-80-opacity) 10px,
        var(--phase-hcd-ideation-80-opacity) 20px
    );
}
.implementation.phase.drop-over {
    background: repeating-linear-gradient(
        45deg,
        var(--phase-hcd-implementation),
        var(--phase-hcd-implementation) 10px,
        var(--phase-hcd-implementation-80-opacity) 10px,
        var(--phase-hcd-implementation-80-opacity) 20px
    );
}
